

.title {
	text-align: center;
}

.center {
  	position: relative;
    margin: auto
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

body {
        font-family: 'Oswald', serif;
        font-size: 18px;
        background: #576a77 url("Header_Image.jpg") no-repeat;
        background-size: 100%;
}

p {
  font-family: 'Roboto' sans-serif;
}

a {
    display: inline;
}

.laurels{
   
    padding: 2%;
}

.laurelsDiv{
    display: inline;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}