

.title {
	text-align: center;
}

.center {
  	position: relative;
    margin: auto;
}

body {
        font-family: 'Oswald', serif;
        font-size: 18px;
        background: #576a77 url("Header_Image.jpg") no-repeat;
        background-size: 100%;
}

p {
  font-family: 'Roboto' sans-serif;
}

a {
    display: inline;
}

.laurels{
   
}

.laurelsDiv{
    display: inline;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: inline-flex;
}