

.title {
	text-align: center;
}

.center {
  	position: relative;
    margin: auto
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

body {
        font-family: 'Oswald', serif;
        font-size: 18px;
        background: #dcdcd1 url("Header_Image.jpg") no-repeat;
}

p {
  font-family: 'Roboto' sans-serif;
}